
.block {
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  .selected:disabled{
    background-color: red;
  }

  .disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}